.mainImage {
  margin-top: 2vh;
  max-height: 65vh;
  max-width: 90vw;
  width: auto;
  border-radius: 5%;
}

h1 {
  color: #ECEEF4;
  font-family: "Inconsolata", monospace;
}

body {
  --primary-color: #34323C;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at center, #706b81 0%, #34323C 100%);
  overflow: hidden;
  margin-top: 0;
}

.rects {
  position: fixed;
  right: -5vw;
  width: 100vw;
  height: 100vh;
  transform: rotate(0deg);
  z-index: -1;
}

.rect {
  --rect-color: var(--primary-color);
  --rect-length: 12vw;
  --rect-height: 2vw;
  --rect-width: calc(var(--rect-length) / 6);
  --movement-duration: 2s;
  position: absolute;
  top: var(--top-offset);
  left: 0vw;
  width: var(--rect-length);
  height: var(--rect-height);
  color: var(--rect-color);
  background: currentColor;
  filter: drop-shadow(0 0 1vh currentColor);
  transform: translate3d(104vw, 0, 0);
  animation: movement var(--movement-duration) var(--movement-delay) linear infinite;
}
.rect:nth-child(1) {
  --rect-length: 7.48vw;
  --top-offset: 90.26vh;
  --movement-delay: 9.235s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(2) {
  --rect-length: 5.23vw;
  --top-offset: 42.74vh;
  --movement-delay: 9.505s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(3) {
  --rect-length: 6.36vw;
  --top-offset: 17.23vh;
  --movement-delay: 8.332s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(4) {
  --rect-length: 5.8vw;
  --top-offset: 9.46vh;
  --movement-delay: 0.916s;
  --rect-color: #E4366C;
}
.rect:nth-child(5) {
  --rect-length: 7.16vw;
  --top-offset: 34.8vh;
  --movement-delay: 8.939s;
  --rect-color: #E4366C;
}
.rect:nth-child(6) {
  --rect-length: 5.43vw;
  --top-offset: 13.62vh;
  --movement-delay: 3.968s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(7) {
  --rect-length: 6.86vw;
  --top-offset: 44.14vh;
  --movement-delay: 3.785s;
  --rect-color: #E4366C;
}
.rect:nth-child(8) {
  --rect-length: 6.98vw;
  --top-offset: 22.19vh;
  --movement-delay: 0.632s;
  --rect-color: #E4366C;
}
.rect:nth-child(9) {
  --rect-length: 5.99vw;
  --top-offset: 64.68vh;
  --movement-delay: 3.996s;
  --rect-color: #EC7A64;
}
.rect:nth-child(10) {
  --rect-length: 7.17vw;
  --top-offset: 48.47vh;
  --movement-delay: 9.849s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(11) {
  --rect-length: 6.75vw;
  --top-offset: 93.41vh;
  --movement-delay: 2.575s;
  --rect-color: #EC7A64;
}
.rect:nth-child(12) {
  --rect-length: 5.99vw;
  --top-offset: 36.12vh;
  --movement-delay: 1.314s;
  --rect-color: #EC7A64;
}
.rect:nth-child(13) {
  --rect-length: 6.78vw;
  --top-offset: 43.57vh;
  --movement-delay: 9.699s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(14) {
  --rect-length: 6.41vw;
  --top-offset: 47.88vh;
  --movement-delay: 0.924s;
  --rect-color: #EC7A64;
}
.rect:nth-child(15) {
  --rect-length: 5.09vw;
  --top-offset: 50.7vh;
  --movement-delay: 3.98s;
  --rect-color: #EC7A64;
}
.rect:nth-child(16) {
  --rect-length: 5.28vw;
  --top-offset: 58.4vh;
  --movement-delay: 0.452s;
  --rect-color: #EC7A64;
}
.rect:nth-child(17) {
  --rect-length: 7.17vw;
  --top-offset: 9.52vh;
  --movement-delay: 6.677s;
  --rect-color: #EC7A64;
}
.rect:nth-child(18) {
  --rect-length: 6.02vw;
  --top-offset: 96.57vh;
  --movement-delay: 0.564s;
  --rect-color: #E4366C;
}
.rect:nth-child(19) {
  --rect-length: 6.23vw;
  --top-offset: 73.64vh;
  --movement-delay: 0.976s;
  --rect-color: #E4366C;
}
.rect:nth-child(20) {
  --rect-length: 6.65vw;
  --top-offset: 76.96vh;
  --movement-delay: 1.374s;
  --rect-color: #EC7A64;
}
.rect:nth-child(21) {
  --rect-length: 5.9vw;
  --top-offset: 72.3vh;
  --movement-delay: 9.799s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(22) {
  --rect-length: 5.65vw;
  --top-offset: 45.5vh;
  --movement-delay: 9.29s;
  --rect-color: #E4366C;
}
.rect:nth-child(23) {
  --rect-length: 7.2vw;
  --top-offset: 99.27vh;
  --movement-delay: 0.306s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(24) {
  --rect-length: 7.26vw;
  --top-offset: 38.01vh;
  --movement-delay: 1.869s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(25) {
  --rect-length: 7.13vw;
  --top-offset: 80.2vh;
  --movement-delay: 3.537s;
  --rect-color: #EC7A64;
}
.rect:nth-child(26) {
  --rect-length: 5.17vw;
  --top-offset: 70.53vh;
  --movement-delay: 3.953s;
  --rect-color: #E4366C;
}
.rect:nth-child(27) {
  --rect-length: 5.32vw;
  --top-offset: 9.72vh;
  --movement-delay: 0.252s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(28) {
  --rect-length: 7.29vw;
  --top-offset: 76.65vh;
  --movement-delay: 2.181s;
  --rect-color: #E4366C;
}
.rect:nth-child(29) {
  --rect-length: 6.86vw;
  --top-offset: 81.68vh;
  --movement-delay: 1.674s;
  --rect-color: #E4366C;
}
.rect:nth-child(30) {
  --rect-length: 7.07vw;
  --top-offset: 26.77vh;
  --movement-delay: 7.881s;
  --rect-color: #E4366C;
}
.rect:nth-child(31) {
  --rect-length: 5.97vw;
  --top-offset: 60.25vh;
  --movement-delay: 9.148s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(32) {
  --rect-length: 5.73vw;
  --top-offset: 54.26vh;
  --movement-delay: 8.602s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(33) {
  --rect-length: 5.44vw;
  --top-offset: 45.4vh;
  --movement-delay: 8.069s;
  --rect-color: #EC7A64;
}
.rect:nth-child(34) {
  --rect-length: 6.49vw;
  --top-offset: 18.08vh;
  --movement-delay: 3.022s;
  --rect-color: #E4366C;
}
.rect:nth-child(35) {
  --rect-length: 6.06vw;
  --top-offset: 89.13vh;
  --movement-delay: 4.153s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(36) {
  --rect-length: 6.43vw;
  --top-offset: 82.4vh;
  --movement-delay: 9.627s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(37) {
  --rect-length: 5.92vw;
  --top-offset: 50.21vh;
  --movement-delay: 1.503s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(38) {
  --rect-length: 5.88vw;
  --top-offset: 52.4vh;
  --movement-delay: 4.873s;
  --rect-color: #E4366C;
}
.rect:nth-child(39) {
  --rect-length: 5.06vw;
  --top-offset: 97.49vh;
  --movement-delay: 0.685s;
  --rect-color: #EC7A64;
}
.rect:nth-child(40) {
  --rect-length: 7.1vw;
  --top-offset: 52.58vh;
  --movement-delay: 7.236s;
  --rect-color: #EC7A64;
}
.rect:nth-child(41) {
  --rect-length: 7.43vw;
  --top-offset: 1.3vh;
  --movement-delay: 4.991s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(42) {
  --rect-length: 7.28vw;
  --top-offset: 96.85vh;
  --movement-delay: 2.929s;
  --rect-color: #EC7A64;
}
.rect:nth-child(43) {
  --rect-length: 6.19vw;
  --top-offset: 83.13vh;
  --movement-delay: 7.253s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(44) {
  --rect-length: 6.21vw;
  --top-offset: 45.42vh;
  --movement-delay: 1.594s;
  --rect-color: #E4366C;
}
.rect:nth-child(45) {
  --rect-length: 5.7vw;
  --top-offset: 13.48vh;
  --movement-delay: 4.879s;
  --rect-color: #E4366C;
}
.rect:nth-child(46) {
  --rect-length: 5.99vw;
  --top-offset: 72.95vh;
  --movement-delay: 8.292s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(47) {
  --rect-length: 5.91vw;
  --top-offset: 57.56vh;
  --movement-delay: 5.84s;
  --rect-color: #E4366C;
}
.rect:nth-child(48) {
  --rect-length: 6.88vw;
  --top-offset: 95.88vh;
  --movement-delay: 1.815s;
  --rect-color: #E4366C;
}
.rect:nth-child(49) {
  --rect-length: 5.33vw;
  --top-offset: 86.33vh;
  --movement-delay: 3.374s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(50) {
  --rect-length: 7.26vw;
  --top-offset: 87.72vh;
  --movement-delay: 7.195s;
  --rect-color: #EC7A64;
}

@keyframes movement {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
.contactButtons {
  margin-top: 3vh;
  display: flex;
  gap: 2vw;
}

.contactButton {
  display: flex;
  flex-direction: column;
  height: 8vh;
  width: 8vh;
  align-items: center;
  background-color: #ECEEF4;
  border: 0.25vw solid #ECEEF4;
  border-radius: 50%;
  padding: 0;
}

.icon {
  margin-top: 0;
  width: 100%;
  height: 100%;
}

#projectsButton {
  margin-top: 3vh;
  width: 35vh;
  height: 8vh;
  background-color: #ECEEF4;
  border: none;
  color: #34323C;
  border-radius: 2vh;
  text-align: center;
  text-decoration: none;
  font-size: 4vh;
}

.greenShadow {
  box-shadow: 0 1vh 2vh 0 rgba(37, 211, 102, 0.2), 0 0.8vh 2.5vh 0 rgba(37, 211, 102, 0.19);
}

.blueShadow {
  box-shadow: 0 1vh 2vh 0 rgba(14, 118, 168, 0.2), 0 0.8vh 2.5vh rgba(14, 118, 168, 0.19);
}

.blackShadow {
  box-shadow: 0 1vh 2vh 0 rgba(0, 0, 0, 0.2), 0 0.8vh 2.5vh 0 rgba(0, 0, 0, 0.19);
}/*# sourceMappingURL=main.css.map */