body {
  font-family: "Inconsolata", monospace;
  --primary-color: #34323C;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: radial-gradient(ellipse at center, #706b81 0%, #34323C 100%);
  overflow: hidden;
  margin-top: 0;
}

h1 {
  color: #ECEEF4;
}

.mainImage {
  display: block;
  margin-top: 1vh;
  height: 95%;
  width: auto;
  z-index: 2;
}

#myText {
  position: absolute;
  margin-top: 45vh;
  z-index: 3;
  background-color: #ECEEF4;
  width: 42vh;
  z-index: 3;
  height: 10vh;
  font-size: 3vh;
  padding-left: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.cardDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  height: 60vh;
  width: 45vh;
  background-color: #ECEEF4;
  border-radius: 5%;
  z-index: 1;
}

.slider {
  width: 5vh;
  height: 1vh;
  border-radius: 1vh;
  background-color: #E4366C;
  margin: 3vh;
  margin-top: 57vh;
  border: none;
}

#sliders {
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow: visible;
  visibility: hidden;
}

.rects {
  position: fixed;
  right: -5vw;
  width: 100vw;
  height: 100vh;
  transform: rotate(0deg);
  z-index: -1;
}

.rect {
  --rect-color: var(--primary-color);
  --rect-length: 12vw;
  --rect-height: 2vw;
  --rect-width: calc(var(--rect-length) / 6);
  --movement-duration: 1s;
  position: absolute;
  top: var(--top-offset);
  left: 0vw;
  width: var(--rect-length);
  height: var(--rect-height);
  color: var(--rect-color);
  background: currentColor;
  filter: drop-shadow(0 0 1vh currentColor);
  transform: translate3d(104vw, 0, 0);
  animation: movement var(--movement-duration) var(--movement-delay) linear infinite;
}
.rect:nth-child(1) {
  --rect-length: 6.66vw;
  --top-offset: 7.06vh;
  --movement-delay: 2.111s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(2) {
  --rect-length: 6.82vw;
  --top-offset: 74.81vh;
  --movement-delay: 1.538s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(3) {
  --rect-length: 5.27vw;
  --top-offset: 8.69vh;
  --movement-delay: 2.359s;
  --rect-color: #E4366C;
}
.rect:nth-child(4) {
  --rect-length: 5.05vw;
  --top-offset: 41.39vh;
  --movement-delay: 6.662s;
  --rect-color: #EC7A64;
}
.rect:nth-child(5) {
  --rect-length: 6.9vw;
  --top-offset: 8.26vh;
  --movement-delay: 3.209s;
  --rect-color: #EC7A64;
}
.rect:nth-child(6) {
  --rect-length: 5.55vw;
  --top-offset: 62.08vh;
  --movement-delay: 4.624s;
  --rect-color: #EC7A64;
}
.rect:nth-child(7) {
  --rect-length: 6.33vw;
  --top-offset: 94.27vh;
  --movement-delay: 0.736s;
  --rect-color: #E4366C;
}
.rect:nth-child(8) {
  --rect-length: 5.55vw;
  --top-offset: 5.03vh;
  --movement-delay: 5.525s;
  --rect-color: #EC7A64;
}
.rect:nth-child(9) {
  --rect-length: 7.35vw;
  --top-offset: 45.46vh;
  --movement-delay: 8.681s;
  --rect-color: #EC7A64;
}
.rect:nth-child(10) {
  --rect-length: 6.04vw;
  --top-offset: 45.76vh;
  --movement-delay: 2.073s;
  --rect-color: #E4366C;
}
.rect:nth-child(11) {
  --rect-length: 7.2vw;
  --top-offset: 55.47vh;
  --movement-delay: 3.998s;
  --rect-color: #E4366C;
}
.rect:nth-child(12) {
  --rect-length: 6.91vw;
  --top-offset: 82.76vh;
  --movement-delay: 8.262s;
  --rect-color: #EC7A64;
}
.rect:nth-child(13) {
  --rect-length: 5.81vw;
  --top-offset: 18.53vh;
  --movement-delay: 1.861s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(14) {
  --rect-length: 7.33vw;
  --top-offset: 9.16vh;
  --movement-delay: 1.266s;
  --rect-color: #E4366C;
}
.rect:nth-child(15) {
  --rect-length: 5.58vw;
  --top-offset: 99.7vh;
  --movement-delay: 5.208s;
  --rect-color: #E4366C;
}
.rect:nth-child(16) {
  --rect-length: 6.31vw;
  --top-offset: 90.65vh;
  --movement-delay: 3.556s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(17) {
  --rect-length: 5.55vw;
  --top-offset: 72.63vh;
  --movement-delay: 5.977s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(18) {
  --rect-length: 5.72vw;
  --top-offset: 31.15vh;
  --movement-delay: 6.301s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(19) {
  --rect-length: 6.28vw;
  --top-offset: 92.36vh;
  --movement-delay: 1.565s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(20) {
  --rect-length: 5.32vw;
  --top-offset: 58.98vh;
  --movement-delay: 3.345s;
  --rect-color: #EC7A64;
}
.rect:nth-child(21) {
  --rect-length: 6.36vw;
  --top-offset: 25.96vh;
  --movement-delay: 8.075s;
  --rect-color: #EC7A64;
}
.rect:nth-child(22) {
  --rect-length: 5.35vw;
  --top-offset: 24.15vh;
  --movement-delay: 6.209s;
  --rect-color: #E4366C;
}
.rect:nth-child(23) {
  --rect-length: 6.28vw;
  --top-offset: 72.67vh;
  --movement-delay: 0.12s;
  --rect-color: #E4366C;
}
.rect:nth-child(24) {
  --rect-length: 5.24vw;
  --top-offset: 52.59vh;
  --movement-delay: 8.793s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(25) {
  --rect-length: 5.65vw;
  --top-offset: 21.09vh;
  --movement-delay: 6.551s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(26) {
  --rect-length: 5.34vw;
  --top-offset: 4.97vh;
  --movement-delay: 8.474s;
  --rect-color: #E4366C;
}
.rect:nth-child(27) {
  --rect-length: 7.44vw;
  --top-offset: 11.89vh;
  --movement-delay: 5.027s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(28) {
  --rect-length: 5.81vw;
  --top-offset: 17.76vh;
  --movement-delay: 1.253s;
  --rect-color: #E4366C;
}
.rect:nth-child(29) {
  --rect-length: 5.04vw;
  --top-offset: 35.6vh;
  --movement-delay: 1.932s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(30) {
  --rect-length: 5.5vw;
  --top-offset: 20.69vh;
  --movement-delay: 6.81s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(31) {
  --rect-length: 5.99vw;
  --top-offset: 79.39vh;
  --movement-delay: 5.248s;
  --rect-color: #E4366C;
}
.rect:nth-child(32) {
  --rect-length: 6.36vw;
  --top-offset: 42.32vh;
  --movement-delay: 2.157s;
  --rect-color: #E4366C;
}
.rect:nth-child(33) {
  --rect-length: 5.94vw;
  --top-offset: 71.86vh;
  --movement-delay: 0.097s;
  --rect-color: #EC7A64;
}
.rect:nth-child(34) {
  --rect-length: 6.27vw;
  --top-offset: 10.87vh;
  --movement-delay: 9.926s;
  --rect-color: #EC7A64;
}
.rect:nth-child(35) {
  --rect-length: 5.65vw;
  --top-offset: 14.79vh;
  --movement-delay: 9s;
  --rect-color: #EC7A64;
}
.rect:nth-child(36) {
  --rect-length: 5.72vw;
  --top-offset: 53.25vh;
  --movement-delay: 2.934s;
  --rect-color: #EC7A64;
}
.rect:nth-child(37) {
  --rect-length: 5.71vw;
  --top-offset: 39.6vh;
  --movement-delay: 2.156s;
  --rect-color: #E4366C;
}
.rect:nth-child(38) {
  --rect-length: 6.63vw;
  --top-offset: 42.31vh;
  --movement-delay: 6.917s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(39) {
  --rect-length: 5.53vw;
  --top-offset: 52.09vh;
  --movement-delay: 7.981s;
  --rect-color: #E4366C;
}
.rect:nth-child(40) {
  --rect-length: 6vw;
  --top-offset: 94.27vh;
  --movement-delay: 0.53s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(41) {
  --rect-length: 7.29vw;
  --top-offset: 73.56vh;
  --movement-delay: 4.5s;
  --rect-color: #ECEEF4;
}
.rect:nth-child(42) {
  --rect-length: 5.44vw;
  --top-offset: 56.99vh;
  --movement-delay: 3.666s;
  --rect-color: #EC7A64;
}
.rect:nth-child(43) {
  --rect-length: 5.92vw;
  --top-offset: 46.69vh;
  --movement-delay: 9.289s;
  --rect-color: #E4366C;
}
.rect:nth-child(44) {
  --rect-length: 5.93vw;
  --top-offset: 33.18vh;
  --movement-delay: 7.255s;
  --rect-color: #EC7A64;
}
.rect:nth-child(45) {
  --rect-length: 6.23vw;
  --top-offset: 65.59vh;
  --movement-delay: 9.202s;
  --rect-color: #E4366C;
}
.rect:nth-child(46) {
  --rect-length: 7.46vw;
  --top-offset: 10.69vh;
  --movement-delay: 8.849s;
  --rect-color: #EC7A64;
}
.rect:nth-child(47) {
  --rect-length: 5.21vw;
  --top-offset: 23.97vh;
  --movement-delay: 2.561s;
  --rect-color: #EC7A64;
}
.rect:nth-child(48) {
  --rect-length: 5.7vw;
  --top-offset: 49.71vh;
  --movement-delay: 3.104s;
  --rect-color: #E4366C;
}
.rect:nth-child(49) {
  --rect-length: 7.18vw;
  --top-offset: 36.68vh;
  --movement-delay: 0.531s;
  --rect-color: #EC7A64;
}
.rect:nth-child(50) {
  --rect-length: 6.42vw;
  --top-offset: 53.76vh;
  --movement-delay: 9.447s;
  --rect-color: #ECEEF4;
}

@keyframes movement {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
#contactButtons {
  margin-top: 3vh;
  display: flex;
  gap: 2vw;
}

#switchButtons {
  display: none;
  margin-top: 3vh;
  gap: 4vw;
}

#projectImgDiv {
  display: none;
  width: 40vh;
  margin-top: 6%;
  height: 93%;
  overflow: hidden;
}

#projectTextDiv {
  display: none;
  width: 38vh;
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 2.7vh;
  text-align: justify;
  height: 93%;
  overflow: hidden;
}

#projectImg {
  width: 100%;
  height: 100%;
}

.myButton {
  display: flex;
  flex-direction: column;
  height: 8vh;
  width: 8vh;
  align-items: center;
  background-color: #ECEEF4;
  border: 0.25vw solid #ECEEF4;
  border-radius: 50%;
  padding: 0;
}

.icon {
  margin-top: 0;
  width: 100%;
  height: 100%;
}

#projectsButton {
  margin-top: 3vh;
  width: 35vh;
  height: 8vh;
  background-color: #ECEEF4;
  border: none;
  color: #34323C;
  border-radius: 2vh;
  text-align: center;
  text-decoration: none;
  font-size: 4vh;
  width: 35vh;
  border-radius: 2vh;
  padding: 0;
}

.greenShadow {
  box-shadow: 0 1vh 2vh 0 rgba(37, 211, 102, 0.2), 0 0.8vh 2.5vh 0 rgba(37, 211, 102, 0.19);
}

.blueShadow {
  box-shadow: 0 1vh 2vh 0 rgba(14, 118, 168, 0.2), 0 0.8vh 2.5vh rgba(14, 118, 168, 0.19);
}

.blackShadow {
  box-shadow: 0 1vh 2vh 0 rgba(0, 0, 0, 0.2), 0 0.8vh 2.5vh 0 rgba(0, 0, 0, 0.19);
}/*# sourceMappingURL=main.css.map */